@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  background-color: #1e3932;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100%;
  width: 100px;
}

.nav_tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav_tools .searching img {
  margin-top: 10px;
}

.nav_tools input {
  display: none;
}

.nav_tools .lang_switch {
  background-position: center center;
  background-image: url(/img/globess.svg);
  width: 30px;
  height: 30px;
  margin-top: 4px;
}

.mobile_menu {
  background-image: url(/img/hamb.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 63px;
  height: 63px;
  margin-right: 15px;
  opacity: 0.7;
}

.banner_line {
  background: #ffba0c;
  width: 100%;
  height: 40px;
  margin-top: -20px;
}

.banner {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.black_info {
  background-color: black;
  height: 148px;
  padding: 10px 12px;
}

.black_info * {
  color: white;
  font-size: 25px;
  font-family: "Lexend Tera", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.black_info .info {
  margin-top: 20px;
  font-size: 20px;
}

.black_info .info b {
  margin-left: 20px;
  font-size: 20px;
}

.products-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-items .items_off {
  width: 100px;
}

.carousel_product_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  margin-top: 45px;
  margin-bottom: 46px;
  padding: 0 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.carousel_category {
  width: 100%;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_img {
  width: 68px;
  object-fit: contain;
}

.product_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.product_list {
  border: 1px solid black;
  border-radius: 10px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 40px 0;
  margin-bottom: 34px;
}

.card_parent {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 150px;
  padding: 5px 12px;
}

.card_parent img {
  width: 120px;
  height: 116px;
  object-fit: contain;
}

.card_parent h2 {
  margin-left: 20px;
  font-size: 20px;
  font-family: "Lexend Tera", serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 25px;
}

.menu_bottom {
  position: sticky;
  bottom: 0px;
  width: 159px;
  height: 74px;
  background: #4C4D4DD9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  transition: 0.5s all;
  border-radius:10px 10px 0px 0px;
}

.new-width {
  width: 100% !important;
  transition: 0.5s all;
}

.menu_bottom .main_menus {
  opacity: 0;
}

.new-width .main_menus {
  transition: 0.5s;
  transition-delay: 0.2s;
  opacity: 1;
}

.menu_opener {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}

.cloud_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  margin-left: 3px;
  border-radius: 10px;
  background: #242424cd;
}

.clod_text {
  display: flex;
  align-items: center;
  justify-content: center;

}

.clod_opacity{
  display: none;
}

.clod_text img {
  scale: 0.8;
}

.main_menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-right: 10px;
}

.btn_menus {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: #4C4D4D;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  box-shadow: 0px 0px 2px 0px inset;
}

.btn_menus p {
  font-size: 10px;
  font-family: "Aldrich", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
  color: white;
  margin-top: -6px;
  margin-bottom: -8px;
}
.product_list_feed{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  gap: 10px;
}

.card_product{
  width: 100%;
  height: 393px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.product_title_feed{
  font-family: "Aldrich", serif;
 font-weight: 100;
 text-align: center;
}
.product_img_feed{
  width: 203px;
  height: 170px;
  object-fit: contain;
}

.product_box-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;

}

.product_box-1 button{
  width: 58px;
  height: 52px;
  border-radius: 20px;
  background: #1E3932;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.93;
  transition: all 0.1s linear;
}

.product_box-1 button:hover{
  scale: 1;
  cursor: pointer;
}

.product_box-1 h3{
  font-family: "Aldrich", serif;
  font-weight: 100;
}