@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  background-color: #1e3932;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100%;
  width: 100px;
}

.nav_tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav_tools .searching img {
  margin-top: 10px;
}

.nav_tools input {
  display: none;
}

.nav_tools .lang_switch {
  background-position: center center;
  background-image: url(/img/globess.svg);
  width: 30px;
  height: 30px;
  margin-top: 4px;
}

.mobile_menu {
  background-image: url(/img/hamb.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 63px;
  height: 63px;
  margin-right: 15px;
  opacity: 0.7;
}

.banner_line {
  background: #ffba0c;
  width: 100%;
  height: 40px;
  margin-top: -20px;
}

.banner {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.black_info {
  background-color: black;
  height: 148px;
  padding: 10px 12px;
}

.black_info * {
  color: white;
  font-size: 25px;
  font-family: "Lexend Tera", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.black_info .info {
  margin-top: 20px;
  font-size: 20px;
}
.black_info .info b {
  margin-left: 20px;
  font-size: 20px;
}
